<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basic page</title>
</head>
<body>
<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius fugiat id incidunt labore, reiciendis rerum unde! Corporis eveniet facere impedit ipsa molestias, optio qui quisquam rerum similique soluta voluptate, voluptatum!</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet architecto aspernatur consequatur doloremque eligendi iure libero molestiae molestias numquam quidem quo repellat, reprehenderit repudiandae suscipit tempore totam ut voluptatum?
    </p>
</body>
</html>